<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amd.flick.wrapperapiandroidlogin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".MyLoginWrap"
        tools:replace="android:name"
        android:networkSecurityConfig="@xml/network_security_config"/>

</manifest>